html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-size : 18px;
}

#racine {
    width: 90%;
    
}

.cacher{
    display: none;
}